@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #333333;
  --background-rgb: 214, 219, 220;
}

body {
  color: var(--foreground-rgb);
  background: rgb(var(--background-end-rgb));
}
